{% extends "base.html" %}
{% load wagtailcore_tags static %}

{% block content %}
<main>
  <section class="section section-hero section-hero-small section-light">
    <header class="hero-block">
      <h1>{{ page.title }}</h1>
      {% if page.intro %}
      <p>{{ page.intro|striptags }}</p>
      {% endif %}
    </header>
  </section>

  <section class="section section-light">
    <ul class="article-list">
    {% for article in articles %}
    <li>
      <article>
        <div class="visualization" data-page-id="{{ article.pk }}"></div>
        <div class="article-content">
          <h2><a href="{% pageurl article %}">{{ article.title }}</a></h2>
          {% if article.intro %}
          <p>{{ article.intro }}</p>
          {% endif %}
          {% if article.first_published_at %}
          <time datetime="{{ article.first_published_at|date:'c' }}">
            {{ article.first_published_at|date:"F j, Y" }}
          </time>
          {% endif %}
        </div>
      </article>
    </li>
    {% empty %}
    <li>No articles yet.</li>
    {% endfor %}
    </ul>
  </section>
</main>
<script type="module" src="{% static 'visualization.js' %}"></script>
{% endblock %}
