{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<main>
  <section class="section section-hero section-hero-compact">
    <header class="hero-block">
      <h1>{{ page.title }}</h1>
      {% if page.intro %}
      <p>{{ page.intro|striptags }}</p>
      {% endif %}
    </header>
  </section>

  <section class="section">
    <ul class="article-list">
    {% for article in articles %}
    <li>
      <article>
        <h2><a href="{% pageurl article %}">{{ article.title }}</a></h2>
        {% if article.intro %}
        <p>{{ article.intro }}</p>
        {% endif %}
        {% if article.first_published_at %}
        <time datetime="{{ article.first_published_at|date:'c' }}">
          {{ article.first_published_at|date:"F j, Y" }}
        </time>
        {% endif %}
      </article>
    </li>
    {% empty %}
    <li>No articles yet.</li>
    {% endfor %}
    </ul>
  </section>
</main>
{% endblock %}
