{% extends "base.html" %}
{% load static wagtailcore_tags wagtailmarkdown %}

{% block content %}
<main>
  <article>
    <section class="section section-hero">
      <div class="visualization" data-page-id="{{ page.pk }}"></div>
      <header class="hero-block">
        <h1>{{ page.title }}</h1>
        {% if page.intro %}
        <p>{{ page.intro }}</p>
        {% endif %}
        {% if page.first_published_at %}
        <time datetime="{{ page.first_published_at|date:'c' }}">
          {{ page.first_published_at|date:"F j, Y" }}
        </time>
        {% endif %}
      </header>
    </section>

    <section class="section">
      <div class="body">
        {{ page.body|markdown }}
      </div>
    </section>
  </article>
</main>
{% endblock %}

{% block extra_js %}
<script type="module" src="{% static 'visualization.js' %}"></script>
{% endblock %}
